.dishMenu {
    padding: 50px 10px;
    /* Top padding to prevent content from hiding under the fixed title */
    height: 2000px;
    /* Just for demonstration to enable scrolling */
    display: flex;
    flex-direction: row; /* Arrange children horizontally */
    flex-wrap: wrap; /* Allow wrapping if items overflow */
    gap: 16px;
    /* Space between items */
    align-content: flex-start;
    justify-content: center; /* Center items horizontally */
    background-color: #f0f0f0; /* Light background color */
    color: #333; /* Text color */

    

}

.filterContainer {
  display: flex;
  flex-direction: row; /* Arrange elements horizontally */
  align-items: center; /* Align items vertically */
  gap: 16px; /* Add spacing between elements */
  margin-bottom: 12px; /* Add spacing below the filter container */
  margin-top: 20px; /* Add spacing above the filter container */
}

.filterItem {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  align-items: center; /* Center align label and input */
}
